@import './global.css';
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@400;500;600;700;800&family=Inter:wght@400;700;800&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Montserrat:wght@500;700&family=Outfit:wght@400;700&family=Overpass:wght@400;700&family=Poppins:wght@500;600&display=swap');

html {
	scroll-behavior: smooth;
}

body {
	overflow-x: hidden;
	margin: 0;
	padding: 0;
	outline: 0;
	width: 100vw;
	font-family: 'Lora', sans-serif;
	font-weight: 400;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: inherit;
}
img {
	object-fit: cover;
}

button {
	border: none;
	background-color: transparent;
	cursor: pointer;
}

.section {
	height: 100vh;
	display: flex;
	align-items: center;
	background: linear-gradient(
		233.67deg,
		rgba(97, 176, 220, 0.13) 14.75%,
		rgba(87, 160, 201, 0.84) 87.2%
	);
}

.container {
	max-width: 1440px;
	width: 100vw;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

.container-form {
	max-width: 50%;
	margin: 0 auto;
	background: rgba(255, 255, 255, 0.8);
	border: 1px solid rgba(87, 160, 201, 0.84);
	box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 8px;
	gap: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2rem;
}

.container-form > input {
	width: 80%;
	padding: 10px;
	text-align: center;
	border-radius: 8px;
	border: 1px solid rgba(0, 0, 0, 0.5);
	font-size: 1.1rem;
}

.container-form > textarea {
	width: 80%;
	padding: 10px;
	text-align: center;
	border-radius: 8px;
	border: 1px solid rgba(0, 0, 0, 0.5);
	font-size: 1.1rem;
	resize: vertical;
}

.container-form > h1 {
	font-size: 2rem;
}

.container-form > button {
	font-weight: 600;
	font-size: 1.1rem;
	padding: 10px 30px;
	background-color: #7fb4d3;
	opacity: 0.8;
	border-radius: 8px;
	border: 0.5px solid #61b0dc;
	cursor: pointer;
}

.admin-section {
	height: 100vh;
	background: linear-gradient(
		233.67deg,
		rgba(78, 146, 182, 0.13) 14.75%,
		rgba(129, 167, 189, 0.84) 87.2%
	);
}

.admin-container {
	max-width: 1440px;
	border-radius: 8px;
	background-color: rgb(250, 242, 242);
	margin: 0 auto;
}

.admin-container-table {
	background-color: rgb(207, 199, 199);
	border-radius: 8px;
	margin: 0 auto;
	max-width: 1440px;
	margin-top: 20px;
}

.admin-header {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	border-radius: 8px;
	margin: 0;
	padding: 20px;
	background-color: #7fb4d3;
}

.admin-header a {
	background-color: rgb(207, 199, 199);
	padding: 10px;
	font-size: 1.5rem;
	border-radius: 8px;
}

.adminCardsContainer {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.adminTableCard {
	padding: 10px;
	border-radius: 8px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: rgb(207, 199, 199);
}

.adminTableCard-controls {
	display: flex;
	gap: 10px;
}

.adminTableCardButton {
	padding: 5px;
	background-color: black;
	color: white;
	border-radius: 6px;
	cursor: pointer;
}

.adminPageWrapper {
	background-color: rgb(240, 236, 232);
	padding: 10px;
}

.adminPageHeader {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.courseCard {
	max-width: 600px;
	margin: 0 auto;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 8px;
	word-break: break-all;
}

.courseCard > hr {
	height: 1px;
	width: 100%;
	border-top: 1px dashed #535353;
	padding: 0;
	margin: 0;
}

.courseCard > h1 {
	text-transform: uppercase;
}

.courseCard > p {
	padding: 10px;
	margin: 0;
}

.courseCard > ul {
	display: flex;
	flex-direction: column;
	list-style: disc;
	gap: 10px;
}

.testCard {
	margin: 0 auto;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 8px;
	word-break: break-all;
	padding: 20px;
}

.resultWrapper {
	width: 100%;
	max-width: 800px;
	padding: 20px;
	border-radius: 8px;
	border: #535353 1px solid;
}

.resultCard {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.userHeader {
	border-radius: 8px;
	padding: 20px;
	background: linear-gradient(
		233.67deg,
		rgba(98, 126, 139, 0.13) 14.75%,
		rgba(58, 144, 201, 0.84) 87.2%
	);
	max-width: 1440px;
	margin: 0 auto;
}

.userNavbar {
	display: flex;
	justify-content: space-around;
}
.userLink {
	padding: 10px;
	background-color: #fff;
	border-radius: 8px;
}

.userInfo {
	text-align: center;
}

.testContainer {
	width: fit-content;

	display: flex;
	flex-direction: column;
	align-items: left;
}

.testTitle {
	width: fit-content;
	font-size: 30px;
}

.testQuestion {
	font-size: 20px;
	text-align: left;
	font-weight: 600;
}

.testButton {
	width: fit-content;
	background: #242424;
	color: #fff;
	padding: 7px 12px;
	border-radius: 7px;
	font-size: 15px;
}

.testAnswersWrapper {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.mainTitle {
	font-size: 22px;
	margin: 0;
}

.mainModelsWrapper {
	display: flex;
}

@media (max-width: 768px) {
	.mainModelsWrapper {
		flex-direction: column;
	}
}

.mainCanvas {
	height: 400px;
}

.editTestInput {
	height: 30px;
}

.editTestInputTitle {
	height: 30px;
	margin: 0;
	margin-top: 6px;
}

.courseText {
	width: 80%;
	margin: 0 auto;
	text-align: left;
}

.courseTestsTitle {
	margin-top: 45px;
	font-size: 20px;
	font-weight: 600;
}

.courseTestLink {
	margin-top: 0;
	color: #1459b3;
	font-size: 17px;
}

.coursesWrapper {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}

.coursesWrapper > a {
	padding: 10px;
	font-size: 1.8rem;
	color: rgb(14, 61, 165);
	text-decoration: underline;
	border-radius: 8px;
	margin-top: 6px;
}

.testsWrapper {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}

.testsWrapper > a {
	padding: 10px;
	font-size: 1.8rem;
	color: rgb(14, 61, 165);
	text-decoration: underline;
	border-radius: 8px;
	margin-top: 6px;
}

.coursesWrapper > h1 {
	font-size: 1.5rem;
}

.testsWrapper > h1 {
	font-size: 1.5rem;
}
